---
title: DevOps NRW
---

<div class="welcome">
  <img src="images/logo.png">

  <div class="content">
    <div class="meetup-badge">
      <header>
        <img src="https://a248.e.akamai.net/secure.meetupstatic.com/img/84869143793177372874/birddog/everywhere_widget.png">
        345 DevOps
      </header>
      <article>
        Nächstes Meetup: Feb 09, 2017 | 7:00 PM<br>
        Ort: InVision AG - Düsseldorf
      </article>
    </div>

    <p class="doc">
      <a href="https://forum.devops.nrw/">Besuche unser Forum!</a>
    </p>
  </div>
</div>

<footer>
  <a href="https://github.com/devops-nrw/homepage">Verbessere diese Website!</a>
</footer>
